@using TheGoodOldLibrary.Data.Models.ViewModel.Book
@model List<BookViewModel>

   @foreach (var item in Model)
   {

        <a href="@item.ImageUrl">
            <img src="@item.ImageUrl" width="400" alt="@item.Name">
        </a>
       <h2>@item.Name</h2>
       <h2>@item.GenreName</h2>
       <h2>@item.AuthorName</h2>
   }