@using TheGoodOldLibrary.Data.Models.ViewModel.User
@model IEnumerable<AllUsersViewModel>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        @foreach (var user in this.Model)
        {
            <tbody>
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>


                    <td>
                        <a class="col-md-4" asp-controller="BookTakingg" asp-action="GeTAllOrderedByUser" asp-route-id="@user.Id">View All Books </a>
                        <a class="col-md-4" asp-controller="PeriodicalTaken" asp-action="GeTAllOrderedByUser" asp-route-id="@user.Id">View All Periodicals </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">Delete </a>

                    </td>
                </tr>
            </tbody>

        }
    </table>

</div>

<script>
    $('#complete-order-button').click(function() {
        $('#order-form').submit();
    });
</script>