@using TheGoodOldLibrary.Data.Models.ViewModel.Periodical
@model PeriodicalListViewModel


@{
    this.ViewData["Title"] = "All Periodicals, page " + Model.PageNumber;
}

<h2 style="color : Black">@this.ViewData["Title"]</h2>



<div id="products-search-bar-holder" class="form-group d-flex justify-content-between w-50">
    <input type="text" class="form-control text-black" id="products-search-bar" name="search" placeholder="Search..." />
</div>

<div class="row">
    @foreach (var peridical in this.Model.Periodicals)
    {


        <div class="col-md-4">
            <div class="col-md-10">
                <div class="card-body">
                    <a href="@peridical">
                        <a class="col-md-4" asp-controller="Periodical" asp-action="GetById" asp-route-id="@peridical.Id">
                            <img width="200" src="@peridical.OriginalUrl" />
                        </a>
                    </a>
                    <h6 style="color: black" class="card-title">@peridical.Name</h6>
                    <h6 style="color: black" class="card-title">Type: @peridical.TypeName</h6>
                    @if (peridical.PeriodicalCount > 0)
                    {
                        <h4 style="color: green" class="card-title">Periodicals Left: @peridical.PeriodicalCount</h4>

                    }
                    @if (peridical.PeriodicalCount <= 0)
                    {
                        <h5 style="color: red">No More Periodicals Left</h5>
                    }


                </div>
            </div>
        </div>

    }
</div>
<partial name="_PaginPeriodicalPartialView" model="@Model" />



<script>
    $('#sort').change(function() {
        $('#order-form').submit();
    });

    $('#products-search-bar').on("change paste keyup", function() {
        $('.card-body').show();

        let searchValue = $('#products-search-bar').val();

        for (let name of $('.card-body')) {
            let productName = $($(name).children()[1]).text();

            if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                $(name).hide();
            }
        }
    });
</script>


