@using TheGoodOldLibrary.Data.Models.ViewModel.Periodical
@model List<PeriodicalInListViewModel>



     @foreach (var item in Model)
   {

        <a href="@item.Image">
            <img src="@item.Image" width="400" alt="@item.Name">
        </a>
       <h2>@item.Name</h2>
       <h2>@item.TypeName</h2>
      
   }

<button class="btn btn-primary text-black font-weight-bold" data-toggle="modal" data-target="#orderModal">Order</button>


   @foreach (var item in Model)
{
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="color : green" class="modal-title" id="orderModalLabel">Order - @item.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="order-form" asp-controller="Periodical" asp-action="PeriodicalTaking" method="post">
                        <div class="form-group">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="complete-order-button">Complete</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $('#complete-order-button').click(function() {
        $('#order-form').submit();
    });
</script>